@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.input_text {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 1.2;
  padding-right: 15px;
  padding-bottom: 15px;
  height: 23px;
  width: 20%;
}

body{
    background-color: grey;
    color: black;
    text-align: center;
    margin-top: 50px;
}

header {
    background: black;
    height: 70px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
    font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', cursive,
    fantasy;
    margin: 2%;
}
 
